{% load static %}
{% load crispy_forms_tags  %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    
    <!-- Favicon -->
    <link href="{% static "img/favicon.ico" %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>

<body class="bg-secondary">

    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-primary sticky-top p-0">
      {% if request.user.is_authenticated %}
        <a href="{% url 'home' %}"  class="navbar-brand bg-primary d-flex align-items-center px-4 px-lg-5">
            <h2 class="mb-2 text-white">Bangladesh Railway</h2>
        </a>
      {% else %}
      <a href="{% url 'index' %}"  class="navbar-brand bg-primary d-flex align-items-center px-4 px-lg-5">
        <h2 class="mb-2 text-white">Bangladesh Railway</h2>
      </a>
      {% endif %}
        
      <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      {% if request.user.is_authenticated %}
      <p class="nav-item nav-link active">Welcome, {{ request.user.username }} (balance : {{request.user.account.balance}})</p>
      {% endif %}

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto p-4 p-lg-0">
              {% if request.user.is_authenticated %}
              <a href="{% url 'home' %}" class="nav-item nav-link ">Home</a>
              <a href="{% url 'deposit' %}"  class="nav-item nav-link ">Deposit</a>
              {% else %}
              <a href="{% url 'index' %}" class="nav-item nav-link ">Home</a>
              {% endif %}

              {% if request.user.is_superuser %}
              <a href="{% url 'addTrain' %}" class="nav-item nav-link ">Add Train</a>
              <a href="{% url 'addStation' %}" class="nav-item nav-link ">Add Station</a>
              {% endif %}

              <a href="{% url 'contact' %}"  class="nav-item nav-link">Contact</a>
              <a href="{% url 'about_us' %}" class="nav-item nav-link">About</a>
              
              {% if request.user.is_authenticated %}
                  <a href="{% url 'profile' %}" class="nav-item nav-link">Profile</a>
                  <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
              {% else %}
                  <a href="{% url 'register' %}" class="nav-item nav-link">Sign Up</a>
                  <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
              {% endif %}
              
          </div>
          {% comment %} <h4 class="m-0 pe-lg-5 d-none d-lg-block"><i class="fa fa-headphones text-primary me-3"></i>+012 345 6789</h4> {% endcomment %}
      </div>
  </nav>
  {% include 'message.html' %}
  <!-- Navbar End -->



    <!-- Form Startstyle="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');" -->
<section class="vh-80 bg-image mt-5"
  >
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form action="#" method="POST">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field }} {% endfor %} 
                {% for field in form.visible_fields %}

                <div class="form-outline mb-4">
                    <label class="form-label" for="{{ field.id_for_label }}"> {{ field.label }} </label>
                    <input name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}" class="form-control form-control-lg" />
                </div>

                {% if field.errors %} {% for error in field.errors %}
                <p class="text-danger  italic pb-2">{{ error }}</p>
                {% endfor %} 
                {% endif %} {% endfor %}

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success  btn-lg gradient-custom-4 ">Login</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Not an account? <a href="{% url 'register' %}"
                    class="fw-bold text-body"><u>Sign up here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>	


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s" style="margin-top: 6rem;">
      <div class="container py-5">
          <div class="row g-5">
              <div class="col-lg-3 col-md-6">
                  <h4 class="text-light mb-4">Address</h4>
                  <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                  <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                  <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                  <div class="d-flex pt-2">
                      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h4 class="text-light mb-4">Services</h4>
                  <a class="btn btn-link" href="">Air Freight</a>
                  <a class="btn btn-link" href="">Sea Freight</a>
                  <a class="btn btn-link" href="">Road Freight</a>
                  <a class="btn btn-link" href="">Logistic Solutions</a>
                  <a class="btn btn-link" href="">Industry solutions</a>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h4 class="text-light mb-4">Quick Links</h4>
                  <a class="btn btn-link" href="">About Us</a>
                  <a class="btn btn-link" href="">Contact Us</a>
                  <a class="btn btn-link" href="">Our Services</a>
                  <a class="btn btn-link" href="">Terms & Condition</a>
                  <a class="btn btn-link" href="">Support</a>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h4 class="text-light mb-4">Subscribe</h4>
                  {% comment %} <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p> {% endcomment %}
                  <div class="position-relative mx-auto" style="max-width: 400px;">
                      <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                      <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="copyright">
              <div class="row">
                  <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                      &copy; <a class="border-bottom" href="">Samin Mahmud</a>, All Right Reserved.
                  </div>
                  <div class="col-md-6 text-center text-md-end">
                      <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                      Designed By <a class="border-bottom" href="">Samin Mahmud</a>
                      {% comment %} </br>Distributed By <a class="border-bottom" href="" target="_blank">ThemeWagon</a> {% endcomment %}
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Footer End -->







    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static "lib/wow/wow.min.js" %}"></script>
    <script src="{% static "lib/easing/easing.min.js" %}"></script>
    <script src="{% static "lib/waypoints/waypoints.min.js" %}"></script>
    <script src="{% static "lib/counterup/counterup.min.js" %}"></script>
    <script src="{% static "lib/owlcarousel/owl.carousel.min.js" %}"></script>

    <!-- Template Javascript -->
    <script src="{% static "js/main.js" %}"></script>
</body>

</html>
